<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Open Orders</a></li>
        <li><a ng-href="#/createOrder">Create An Order</a></li>
    </ul>
    <h3 class="text-muted">Ejja Ħa Nieklu <sup>BETA</sup></h3>
</div>

<div class="jumbotron">
    <h1>Delete Order?</h1>
    <p class="lead">Are you sure you want to delete the order to <span>{{ order.from.name }}</span>?</p>
    <button class="btn btn-lg btn-danger" ng-click="confirm()">Delete</button>
    <a class="btn btn-lg btn-primary" ng-href="#/">Cancel</a>
</div>

<div class="footer">
    <p>Ejja Ħa Nieklu App. By: Kyle &amp; Luke.</p>
</div>