<div class="row">
    <div class="col-sm-7"><h1>{{order.from.name}} <small>{{order.from.address}}</small></h1></div>
    <div class="col-sm-5"><div class="text-muted pull-right">Order opened by: {{order.author}}</div></div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in order.items">
            <td>
                <div class="h3">{{item.name}}</div>
                <div class="h4">{{item.author}}</div>
            </td>
            <td>
                <div class="h3">{{(item.price || 0) | currency:"€"}}</div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="h3">Total:</td>
            <td class="h3">{{order.total | currency:"€" }}</td>
        </tr>
    </tfoot>
</table>