<div class="row">
    <div class="col-sm-7"><h1>{{order.from.name}} <small>{{order.from.address}}</small></h1></div>
    <div class="col-sm-5"><div class="text-muted pull-right">Order opened by: {{order.author}}</div></div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Item Name</th>
            <th class="text-right">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in order.summary">
            <td>
                <div class="h3">{{item.count}} x {{item.name}}</div>
                <div class="h4 text-muted">
                    <ul class="list-inline">
                        <li ng-repeat="(author, times) in item.authors"><i class="fa fa-square-o"></i> {{author}}<span ng-hide="{{ times < 2 }}"> (x{{times}})</span></li>
                    </ul>
                </div>
            </td>
            <td class="text-right">
                <div class="h3">{{(item.subtotal || 0) | currency:"€"}}</div>
                <div class="h4 text-muted">Per Unit: {{(item.price || 0) | currency:"€"}}</div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="h3">Total:</td>
            <td class="h3 text-right"">{{order.total | currency:"€" }}</td>
        </tr>
    </tfoot>
</table>
<div class="row hidden-print">
    <div class="col-xs-12">
        <a href="#" class="btn btn-success" type="submit"><i class="fa fa-fw fa-mail-reply"></i> Go Back</a>
    </div>
</div>